@import "https://cdn.jsdelivr.net/npm/bulma@1.0.0/css/bulma.min.css";
@import "https://db.onlinewebfonts.com/c/8045e81b6278984055ef0ac5561b93b3?family=More+Sugar+Thin";

* {
  font-family: "More Sugar Thin";
}

body {
  background-color: #add8e6; /* Light Blue */
  color: #333; /* Dark Gray */
}

nav {
  background-color: #4682b4; /* Steel Blue */
}

.navbar-item {
  text-decoration: none;
  font-weight: bold;
}

.navbar-item:hover {
  color: #add8e6;
}

.navbar-burger.is-active {
  background-color: #333; /* Example background color for the active state */
}

.has-text-centered {
  width: 30vw;
  padding: 50px 0px;
  margin-bottom: 0px;
}

.hero-image {
  width: 100%;
  height: auto;
}

/* Adjust the size and position of icons */
.section #skills .fa {
  display: block; /* Make icons display as block elements */
  margin: 0 auto; /* Center icons horizontally */
}

/* Optional: Add margin below each skill for spacing */
.section #skills ul li {
  margin-bottom: 20px;
}

.carousel-item {
  display: none; /* Hide all carousel items by default */
}

.carousel-item.is-active {
  display: block; /* Show only the active carousel item */
}
