@import "https://cdn.jsdelivr.net/npm/bulma@1.0.0/css/bulma.min.css";
@import "https://db.onlinewebfonts.com/c/8045e81b6278984055ef0ac5561b93b3?family=More+Sugar+Thin";

* {
  font-family: "More Sugar Thin";
}

body {
  background-color: #add8e6; /* Light Blue */
  color: #333; /* Dark Gray */
}

nav {
  background-color: #4682b4; /* Steel Blue */
}

.navbar-item {
  text-decoration: none;
  font-weight: bold;
}

.navbar-item:hover {
  color: #add8e6;
}

.navbar-burger.is-active {
  background-color: #333; /* Example background color for the active state */
}

.has-text-centered {
  width: 30vw;
  padding: 50px 0px;
  margin-bottom: 0px;
}

.hero-image {
  width: 100%;
  height: auto;
}

/* Adjust the size and position of icons */
.section #skills .fa {
  display: block; /* Make icons display as block elements */
  margin: 0 auto; /* Center icons horizontally */
}

/* Optional: Add margin below each skill for spacing */
.section #skills ul li {
  margin-bottom: 20px;
}

.about-p {
  margin-bottom: 20px; /* Adjust the value as needed to create the desired gap */
}

.about-pic {
  border-radius: 50%;
}

/* -------------PROJECT SECTION-CAROUSEL------------------------------------------ */

.projects {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; /* Center the carousel on the page */
  padding-left: 50px;
  padding-right: 50px;
}

.carousel {
  display: flex;
  flex-direction: column;
  align-items: center; /* Center the carousel items horizontally */
  position: relative;
}

.carousel-item {
  display: none; /* Hide all carousel items by default */
}

.carousel-item.is-active {
  display: flex;
  justify-content: center;
}

.carousel-container {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  overflow: hidden;
  align-items: center; /* Center the carousel items horizontally */
  background-color: antiquewhite;
}

.carousel-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.carousel-details {
  text-align: left;
  width: 100%; /* Set width to 100% initially */
  margin-top: 10px; /* Add some space between image and details */
  margin-left: 20px;
}

.carousel-image {
  display: flex;
  justify-content: center;
}

.carousel-image img {
  width: 120vh;
  height: 65vh;
}

.carousel-buttons {
  display: flex;
  flex-direction: column;
  align-items: center; /* Align buttons to the start of the container */
  margin-top: 10px;
}

.carousel-buttons a {
  margin: 0;
}

.carousel-title {
  font-size: xx-large;
}

.carousel-para {
  font-size: x-large;
}

.project-title {
  align-items: start;
}

.carousel-prev,
.carousel-next {
  position: absolute;
  top: 50%;
  padding: 10px 20px;
  border: none;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  cursor: pointer;
}

.carousel-prev {
  left: 10px;
}

.carousel-next {
  right: 10px;
}

@media screen and (max-width: 768px) {
  .carousel-item {
    flex-direction: column; /* Change direction to column on smaller screens */
  }

  .carousel-details {
    margin-top: 10px; /* Add some space between image and details on smaller screens */
    text-align: left; /* Align text to the left on smaller screens */
    width: auto; /* Set width to auto on smaller screens to allow it to fill the container */
  }

  .carousel-image {
    display: none;
  }

  .carousel-prev,
  .carousel-next {
    top: 90%;
  }
}
/* -------------------------------Contact------------------------------------------ */

.h2-contact {
  font-size: x-large;
  text-align: center;
}
.social-icons {
  text-align: center; /* Center the social icons horizontally */
}

ul.social-icons {
  align-self: center;
}

.social-icons li {
  list-style: none;
  margin-bottom: 10px;
}

.social-icons li a {
  display: flex;
  align-items: center;
  text-decoration: none;
  font-size: 24px;
}

.social-icons li a i {
  font-size: 28px;
  margin-right: 10px;
}
